<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>登录</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" th:href="@{/index/css/public.css}">
	<link rel="stylesheet" th:href="@{/index/css/common.css}">
	<link rel="stylesheet" th:href="@{/index/css/logon.css}">
	<link rel="stylesheet" th:href="@{/index/css/font.css}">
</head>
<body>
	
	
	<div id="main" class="logincoent">
	
		<div class="rebackgroundimg">
			<div class="registruer">
				<div class="regrnamepwd">
					<p class="iteljk">登录<span><a th:href="@{/index/toRegister}">未注册请先注册</a></span></p>
					<form th:action="@{/index/login}" method="post">
					   <ul class="ul_form">
							<li class="user">
								<i class="iconfont icon-yonghu"></i>
								<input type="text" class="username" name="username" placeholder="请输入用户名">
							</li>
							<li class="pwdmia">
								<i class="iconfont icon-mima"></i>
								<input type="password" class="pwd" name="password" placeholder="请再次输入密码">
							</li>
						</ul>
						<input type="submit" value="立即登录" class="sub">
						<div style="color: red;font-size: 16px;text-align: center;margin-top: 20px;" th:if="${msg} != null" th:text="${msg}">登陆验证信息</div>
					</form>
				</div>
			</div>
		</div>
		
	</div>


</body>
<script src="/index/js/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript">

</script>
</html>